[submodule "themes/hpstr-fork"]
	path = themes/hpstr-fork
	url = https://github.com/fleaz/hpstr-hugo-theme
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
