[submodule "static/themes/nederburg"]
	path = static/themes/nederburg
	url = https://github.com/appernetic/hugo-nederburg-theme
[submodule "themes/nederburg-fork"]
	path = themes/nederburg-fork
	url = https://github.com/f-breidenstein/hugo-nederburg-theme
